@page "/admin/dashboard"

<PageTitle>Dashboard - Cadeia Ajuda</PageTitle>

<div class="row">
    <div class="col-xl-3 col-lg-6 col-12">
        <div class="card pull-up">
            <div class="card-content">
                <div class="card-body">
                    <div class="media d-flex">
                        <div class="media-body text-left">
                            <h3 class="info">0</h3>
                            <h6>Empresas</h6>
                        </div>
                        <div>
                            <i class="la la-building info font-large-2 float-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
        <div class="card pull-up">
            <div class="card-content">
                <div class="card-body">
                    <div class="media d-flex">
                        <div class="media-body text-left">
                            <h3 class="success">0</h3>
                            <h6>Usuários</h6>
                        </div>
                        <div>
                            <i class="la la-users success font-large-2 float-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
        <div class="card pull-up">
            <div class="card-content">
                <div class="card-body">
                    <div class="media d-flex">
                        <div class="media-body text-left">
                            <h3 class="warning">0</h3>
                            <h6>Setores</h6>
                        </div>
                        <div>
                            <i class="la la-sitemap warning font-large-2 float-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
        <div class="card pull-up">
            <div class="card-content">
                <div class="card-body">
                    <div class="media d-flex">
                        <div class="media-body text-left">
                            <h3 class="danger">0</h3>
                            <h6>Solicitaçőes</h6>
                        </div>
                        <div>
                            <i class="la la-question-circle danger font-large-2 float-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Bem-vindo ao Cadeia Ajuda</h4>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <p>Sistema de Cadeia de Ajuda / Andon Digital.</p>
                    <p>Utilize o menu lateral para acessar os cadastros e configuraçőes do sistema.</p>
                </div>
            </div>
        </div>
    </div>
</div>